Node red/flow.json
[{"id":"70dd6122.a1c2d","type":"tab","label":"attendance system","disabled":false,"info":""},{"id":"fe7fd469.b25798","type":"ibmiot in","z":"70dd6122.a1c2d","authentication":"apiKey","apiKey":"9b47fbdd.fc8d08","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"98765","applicationId":"","deviceType":"attendance","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":760,"wires":[["d929f709.6c6588","2dc76ea8.945e02"]]},{"id":"d929f709.6c6588","type":"debug","z":"70dd6122.a1c2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":760,"wires":[]},{"id":"41ce288a.8dc1e8","type":"function","z":"70dd6122.a1c2d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":800,"wires":[["d929f709.6c6588","a12fde73.2de37"]]},{"id":"a12fde73.2de37","type":"ui_text","z":"70dd6122.a1c2d","group":"c336c49d.2bfea8","order":3,"width":17,"height":2,"name":"","label":"Students present are:-","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":800,"wires":[]},{"id":"2dc76ea8.945e02","type":"switch","z":"70dd6122.a1c2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tanishq","vt":"str"},{"t":"eq","v":"amrith","vt":"str"},{"t":"eq","v":"ganesh","vt":"str"},{"t":"eq","v":"chintu","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":840,"wires":[["41ce288a.8dc1e8","bc6350ab.749ac","a3fdf714.f9e888"],["27fc8784.91ed28","a3fdf714.f9e888"],["dc1ee9d1.070a68","a3fdf714.f9e888"],["d8c5a8ca.6e9218","a3fdf714.f9e888"]]},{"id":"bc6350ab.749ac","type":"function","z":"70dd6122.a1c2d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":840,"wires":[["6ff67a50.8d3be4"]]},{"id":"6ff67a50.8d3be4","type":"ui_text","z":"70dd6122.a1c2d","group":"c336c49d.2bfea8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":840,"wires":[]},{"id":"dc1ee9d1.070a68","type":"function","z":"70dd6122.a1c2d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":980,"wires":[["3a3ee994.cd18b6"]]},{"id":"3a3ee994.cd18b6","type":"ui_text","z":"70dd6122.a1c2d","group":"c336c49d.2bfea8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":980,"wires":[]},{"id":"27fc8784.91ed28","type":"function","z":"70dd6122.a1c2d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":900,"wires":[["718f50d9.28d0f"]]},{"id":"718f50d9.28d0f","type":"ui_text","z":"70dd6122.a1c2d","group":"c336c49d.2bfea8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":900,"wires":[]},{"id":"d8c5a8ca.6e9218","type":"function","z":"70dd6122.a1c2d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1040,"wires":[["c3bca7ae.5c53b8"]]},{"id":"c3bca7ae.5c53b8","type":"ui_text","z":"70dd6122.a1c2d","group":"c336c49d.2bfea8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1040,"wires":[]},{"id":"a3fdf714.f9e888","type":"function","z":"70dd6122.a1c2d","name":"","func":"if (msg.payload === \"tanishq\")\n    return [ null, msg ]; \nelse\n  msg.payload=\"absent1\";\n if (msg.payload === \"amrith\")\n    return [ null, msg ]; \nelse\n  msg.payload=\"absent2\";\n if (msg.payload === \"ganesh\")\n    return [ null, msg ]; \nelse\n  msg.payload=\"absent3\";\n if (msg.payload === \"chintu\")\n    return [ null, msg ]; \nelse\n  msg.payload=\"absent4\";\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["41be3f86.8a1cc"]]},{"id":"f281d712.cf36c8","type":"http request","z":"70dd6122.a1c2d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=YrCfhETW3JDydaiqVwP79QnZBUplmo4vzA1bSGLsgN2cXOj0KI49xNvL5Otarlj1pb8MYm2dEgRcyKqT&route=q&message=your%20child%20is%20absent!&language=english&flash=0&numbers=9850829162","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":540,"wires":[["71da44a4.b396ec","52ae621e.6df7fc"]]},{"id":"71da44a4.b396ec","type":"debug","z":"70dd6122.a1c2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":620,"wires":[]},{"id":"41be3f86.8a1cc","type":"switch","z":"70dd6122.a1c2d","name":"Message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"absent1","vt":"str"},{"t":"eq","v":"absent2","vt":"str"},{"t":"eq","v":"absent3","vt":"str"},{"t":"eq","v":"absent4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":760,"y":640,"wires":[["f281d712.cf36c8"],["ff97a750.a53a38"],["28374018.d8272"],["208d87ef.398968"]]},{"id":"ff97a750.a53a38","type":"http request","z":"70dd6122.a1c2d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=YrCfhETW3JDydaiqVwP79QnZBUplmo4vzA1bSGLsgN2cXOj0KI49xNvL5Otarlj1pb8MYm2dEgRcyKqT&route=q&message=your%20son%20is%20absent&language=english&flash=0&numbers=+916379191589","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":600,"wires":[["71da44a4.b396ec","52ae621e.6df7fc"]]},{"id":"28374018.d8272","type":"http request","z":"70dd6122.a1c2d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":" https://www.fast2sms.com/dev/bulkV2?authorization=YrCfhETW3JDydaiqVwP79QnZBUplmo4vzA1bSGLsgN2cXOj0KI49xNvL5Otarlj1pb8MYm2dEgRcyKqT&route=q&message=your%20son%20is%20absent!&language=english&flash=0&numbers=9003507345","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":660,"wires":[["71da44a4.b396ec","52ae621e.6df7fc"]]},{"id":"208d87ef.398968","type":"http request","z":"70dd6122.a1c2d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=YrCfhETW3JDydaiqVwP79QnZBUplmo4vzA1bSGLsgN2cXOj0KI49xNvL5Otarlj1pb8MYm2dEgRcyKqT&route=q&message=your%20son%20is%20absent!&language=english&flash=0&numbers=7337235563","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":720,"wires":[["71da44a4.b396ec","52ae621e.6df7fc"]]},{"id":"52ae621e.6df7fc","type":"ui_toast","z":"70dd6122.a1c2d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Message sent to the parents of the student absent","name":"Attendance","x":1190,"y":740,"wires":[]},{"id":"9b47fbdd.fc8d08","type":"ibmiot","name":"Attendance","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c336c49d.2bfea8","type":"ui_group","name":"attendance","tab":"a432b065.fcdf5","order":1,"disp":true,"width":"17","collapse":false},{"id":"a432b065.fcdf5","type":"ui_tab","name":"attendance","icon":"dashboard","disabled":false,"hidden":false}]